<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643117527883-h5alkhh6dfjt6f7sjpf8b4d1kiot55rc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643117527883-h5alkhh6dfjt6f7sjpf8b4d1kiot55rc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>643117527883-ira248l7sf63h057alomavuftaqe0vou.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhiuv9lSv4Vu0vRCYfL49AZFXE67hx0VY</string>
	<key>GCM_SENDER_ID</key>
	<string>643117527883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giftpooling</string>
	<key>PROJECT_ID</key>
	<string>giftpooling-9d43d</string>
	<key>STORAGE_BUCKET</key>
	<string>giftpooling-9d43d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643117527883:ios:677243ce7e7047cd6e2ece</string>
	<key>DATABASE_URL</key>
	<string>https://giftpooling-9d43d.firebaseio.com</string>
</dict>
</plist>